<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <form ng-submit="getData()">
        <div class="offset-md-0 col-md-4">
            <label for="department" class="form-label">Toy Type</label>
            <select class="form-select form-select-lg" ng-model="emp_department" id="" required ng-change="getData()">
                <option selected disabled value="">Select one</option>
                <option value="Soft">Soft</option>
                <option value="Hard">Hard</option>
                <option value="Softwithpolish">Soft with Polish</option>
                <option value="Hardwithpolish">Hard with Polish</option>
            </select>
        </div><br>
        <div class="d-flex justify-content-left">
            <input type="submit" value="Search" style="background-color: rgb(24, 122, 168); padding: 14px;" />
        </div>
        </form>
        <section id="tableSection" class="container mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Toy Id</th>
                        <th scope="col">Toy Name</th>
                        <th scope="col">Toy Description</th>
                        <th scope="col">Toy Type</th>
                        <th scope="col">Toy Cost</th>
                        <th scope="col">Manufactured Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas">
                        <td scope="row">{{data.emp_id}}</td>
                        <td>{{data.emp_name}}</td>
                        <td>{{data.emp_designation}}</td>
                        <td>{{data.emp_department}}</td>
                        <td>{{data.emp_salary}}</td>
                        <td>{{data.emp_location}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>