<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <br>
    <input type="submit" value="Update" style="background-color: rgb(24, 122, 168); padding: 14px;">
    <div class="container">
        <form ng-submit="updateEntry()">
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="id" class="form-label">Toy Id</label>
                        <select class="form-select form-select-lg" ng-model="emp_id" id="" required ng-options="data.emp_id for data in datas" ng-change="getId()">
                            <option selected disabled value="">Select one Id</option>
                        </select>
                        <label for="name" class="form-label">Toy Name</label>
                        <input type="text" ng-model="emp_name" class="form-control" required>
                        <label for="salary" class="form-label">Toy Cost</label>
                        <input type="number" ng-model="emp_salary" class="form-control" required>
                        <label for="orVal" class="form-label">Toy Description</label>
                        <input type="text" ng-model="emp_designation" class="form-control" required>
                        <label for="location" class="form-label">Manufactured Location</label>
                        <input type="text" ng-model="emp_location" class="form-control" required>
                            <label for="department" class="form-label">Toy Type</label>
                            <select class="form-select form-select-lg" ng-model="emp_department" id="" required>
                                <option selected disabled value="">Select one</option>
                                <option value="Soft">Soft</option>
                                <option value="Hard">Hard</option>
                                <option value="Softwithpolish">Soft with Polish</option>
                                <option value="Hardwithpolish">Hard with Polish</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>